{% extends "base.html" %} {% block content %}
<!-- component -->


<div class="bg-white lg:w-4/12 md:6/12 w-10/12 m-auto my-10 shadow-md">
  <div class="py-8 px-8 rounded-xl">
    <h1 class="font-medium text-2xl mt-3 text-center">Login</h1>
    <form action="{% url 'login' %}" class="mt-6" method="POST">
      {% csrf_token %}
   
      <div class="my-5 text-sm">
        <label for="username" class="block text-black">Username</label>
        <input
          type="text"
          id="username"
          class="
            rounded-sm
            px-4
            py-3
            mt-3
            focus:outline-none
            bg-gray-100
            w-full
            focus:ring-2 focus:ring-red-600
          "
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="my-5 text-sm">
        <label for="password" class="block text-black">Password</label>
        <input
          type="password"
          id="password"
          class="
            rounded-sm
            px-4
            py-3
            mt-3
            focus:outline-none
            bg-gray-100
            w-full
            focus:ring-2 focus:ring-red-600
          "
          name="password"
          placeholder="Password"
        />
        <div
          class="
            flex
            justify-end
            mt-2
            text-md text-gray-600
            hover:text-gray-800
          "
        >
          <a href="." class="hover:text-black">Forget Password?</a>
        </div>
      </div>

      <button
        class="
          block
          text-center text-white
          bg-red-500
          p-3
          duration-300
          rounded-sm
          hover:bg-red-800
          w-full
        "
        type="submit"
      >
        Login
      </button>
      <div class="text-center mt-12">
        <span> Don't have an account? </span>
        <a
          href="{% url 'register' %}"
          class="
            text-md text-red-600
            underline
            font-semibold
            hover:text-red-800
          "
        >
          Create One
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
