{% extends "base.html"%} {% load static %} {% block content %}


<div class="mt-5">
  <h1 class="flex justify-center uppercase">Survey Summary</h1>
  <div class="relative mt-6 max-w-lg ml-24 flex justify-items-start">
    <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
      <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
        <path
          d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>

    <input
      class="
        w-full
        border
        border-red-400
        rounded-md
        pl-10
        pr-4
        py-2
        focus:border-red-500 focus:outline-none focus:shadow-outline
      "
      id="myInput"
      onkeyup="myFunction()"
      type="text"
      placeholder="Search"
     
    />
    <button
      class="
        ml-4
        px-8
        py-2
        bg-green-400
        text-white text-sm
        font-medium
        rounded
        hover:bg-green-500
      "
      type="submit"
    >
      Search
    </button>
  </div>
  <div class="flex items-center justify-center font-sans">
    <div class="w-full lg:w-5/6">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto" id="myTable" >
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal" role="row"
            >
              <th class="py-3 px-6 text-left">Sn</th>
              <th class="py-3 px-6 text-left">Title</th>
              <th class="py-3 px-6 text-left">Description</th>
              <th class="py-3 px-6 text-left">Created by</th>
              <th class="py-3 px-6 text-left">Created at</th>
              <th class="py-3 px-6 text-left">status</th>
              <th class="py-3 px-6 text-center">Actions</th>
            </tr>
          </thead>

          <tbody class="text-gray-600 text-sm font-light">
            {% for survey in surveylist %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium">{{ forloop.counter }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  <span>{{survey.title}} </span>
                </div>
              </td>
              
              <td class="py-3 px-6 text-left">{{ survey.description}}</td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  <span>{{ survey.user }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  <span>{{ survey.created_at }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  {% if survey.is_submited %}
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                   submited
                  </span>
                  {% else %}
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-300 text-green-800">
                   pending
                  </span>
                  {% endif %}
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <div
                    class="
                      w-4
                      mr-2
                      transform
                      hover:text-purple-500 hover:scale-110
                    "
                  > 
                  <a href="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                      />
                    </svg>
                  </a>
                    
                  </div>
                  <div
                    class="
                      w-4
                      mr-2
                      transform
                      hover:text-purple-500 hover:scale-110
                    "
                  >
                    <a href="">
                      <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                      />
                    </svg>
                    </a>
                  </div>
                  <div
                    class="
                      w-4
                      mr-2
                      transform
                      hover:text-red-500 hover:scale-110
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      />
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="py-3 px-6 text-center">
                Your survey is empty
              </td>
            </tr>
              
            {% endfor %}
            
          </tbody>
        </table>
        
      </div>
      <div class="flex justify-center">
                <div class="flex rounded-md mt-8">
                    <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 ml-0 rounded-l hover:bg-blue-500 hover:text-white"><span>Previous</a></a>
                    <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 hover:bg-blue-500 hover:text-white"><span>1</span></a>
                    <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 hover:bg-blue-500 hover:text-white"><span>2</span></a>
                    <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 hover:bg-blue-500 hover:text-white"><span>3</span></a>
                    <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 rounded-r hover:bg-blue-500 hover:text-white"><span>Next</span></a>
                </div>
      </div>
    </div>
  </div>
  
</div>
{% endblock content %}
